<div class="oj-flex oj-flex-items-pad">
    <!-- logo -->
    <div class="oj-flex-item" tabindex="0">
        <span data-bind="text: appName"></span>
    </div>
    <!-- Toolbar -->
    <div id='toolbar' class="oj-flex-item" tabindex="0">
        <div data-bind="ojComponent: {component:'ojToolbar'}">
            <div data-bind="ojComponent: {component: 'ojButtonset', checked: $root.router.stateId(), focusManagement: 'none'}">
                <!-- ko foreach: $root.router.states -->
                <label data-bind="attr: {for: id}"></label>
                <input type="radio" name="view" data-bind="value: id, click: go, attr: {id: id}, ojComponent: {component: 'ojButton', label: label}"/>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
